<div id="wrapper">
  <h1 class="title">Sign up</h1>
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" id="email" formControlName="email">
    </mat-form-field>
    <br>
    <div *ngIf="signupForm.controls['email'].errors?.['required'] && signupForm.controls['email'].touched"
         class="error">Email
      is required!
    </div>
    <div *ngIf="signupForm.controls['email'].errors?.['pattern'] && signupForm.controls['email'].touched"
         class="error">This is not a valid e-mail address!
    </div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="pwd" formControlName="password">
    </mat-form-field>
    <div *ngIf="signupForm.controls['password'].errors?.['required'] && signupForm.controls['password'].touched"
         class="error">Password
      is required!
    </div>
    <div *ngIf="signupForm.controls['password'].errors?.['minlength'] && signupForm.controls['password'].dirty"
         class="error">Password must be 6 characters minimum!
    </div>
    <br>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" id="repwd" formControlName="rePassword">
    </mat-form-field>
    <div *ngIf="confirmError"
         class="error">Passwords don't match!
    </div>
    <div *ngIf="signupForm.controls['rePassword'].errors?.['required'] && signupForm.controls['rePassword'].touched"
         class="error">Please confirm your password!
    </div>
    <br>
    <button mat-raised-button type="submit" color="primary">Sign Up</button>
    <div class="error" *ngIf="error">{{ error }}</div>
    <div class="success" *ngIf="success">{{ success }}</div>
  </form>
</div>

