<mat-nav-list>
  <a mat-list-item routerLink="/main" (click)="close()">
    <mat-icon>house</mat-icon>
    <span>Home</span>
  </a>
  <a mat-list-item routerLink="/builder" (click)="close()" *ngIf="loggedIn">
    <mat-icon>build</mat-icon>
    <span>Builder</span>
  </a>
  <a mat-list-item routerLink="/parts" (click)="close()" >
    <mat-icon>memory</mat-icon>
    <span>Parts</span>
  </a>
  <a mat-list-item routerLink="/build" (click)="close()" *ngIf="loggedIn">
    <mat-icon>token</mat-icon>
    <span>My builds</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!loggedIn">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="close()" *ngIf="!loggedIn">
    <mat-icon>app_registration</mat-icon>
    <span>Sign up</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="logout()" *ngIf="loggedIn">
    <mat-icon>logout</mat-icon>
    <span>Logout</span></a>
</mat-nav-list>


<!--<nav>-->
<!--  <ul>-->
<!--    <li><a href="/main">Home</a></li>-->
<!--    <li><a href="/builder">Builder</a></li>-->
<!--    <li><a href="/parts">Parts</a></li>-->
<!--    <li><a href="/login">Login</a></li>-->
<!--    <li><a href="/signup">Sign up</a></li>-->
<!--    <li><a href="/login" (click)="logout()">Logout</a></li>-->
<!--  </ul>-->
<!--</nav>-->

<!--<select [(ngModel)]="currPage" (change)="pageSwitch()">-->
<!--  <option value="login">Login</option>-->
<!--  <option value="login" (click)="logout()">Logout</option>-->
<!--  <option value="signup">Register</option>-->
<!--  <option value="main">Main</option>-->
<!--  <option value="builder">Builder</option>-->
<!--  <option value="parts">Parts</option>-->
<!--</select>-->
