form {
  margin: auto;
  width: fit-content;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 5px;
  padding: 10px;
}

.title {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  font-size: 40px;
  margin: 5px auto 20px auto;
}

#wrapper {
  margin-top: 40px;
}

button:hover {
  color: black;
  background-color: #dddddd;
}

#error {
  margin: 20px auto;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
  margin: 10px 0;
}
