<div id="wrapper">
<!--  <mat-form-field>-->
<!--    <mat-label>Choose part category to upload:</mat-label>-->
<!--    <mat-select [(ngModel)]="uploadFormPick" (change)="loadForm()">-->
<!--      <mat-option [value]="'cpu'">CPU</mat-option>-->
<!--      <mat-option [value]="'gpu'">GPU</mat-option>-->
<!--      <mat-option [value]="'ram'">RAM</mat-option>-->
<!--      <mat-option [value]="'motherboard'">Motherboard</mat-option>-->
<!--      <mat-option [value]="'psu'">PSU</mat-option>-->
<!--      <mat-option [value]="'case'">Case</mat-option>-->
<!--      <mat-option [value]="'drive'">Drive</mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->

  <div class="upload-form">
    <div [ngSwitch]="uploadFormPick">
      <div *ngSwitchCase="'CPU'">
        <app-cpu-uploader (cpuEmitter)="saveCPU($event)"></app-cpu-uploader>
      </div>
      <div *ngSwitchCase="'GPU'">
        <app-gpu-uploader (gpuEmitter)="saveGPU($event)"></app-gpu-uploader>
      </div>
      <div *ngSwitchCase="'RAM'">
        <app-ram-uploader (ramEmitter)="saveRAM($event)"></app-ram-uploader>
      </div>
      <div *ngSwitchCase="'Motherboard'">
        <app-motherboard-uploader (mbEmitter)="saveMotherboard($event)"></app-motherboard-uploader>
      </div>
      <div *ngSwitchCase="'PSU'">
        <app-psu-uploader (psuEmitter)="savePSU($event)"></app-psu-uploader>
      </div>
      <div *ngSwitchCase="'Drive'">
        <app-drive-uploader (driveEmitter)="saveDrive($event)"></app-drive-uploader>
      </div>
      <div *ngSwitchCase="'Case'">
        <app-case-uploader (caseEmitter)="saveCase($event)"></app-case-uploader>
      </div>
      <div *ngSwitchDefault>
        <app-cpu-uploader></app-cpu-uploader>
      </div>
    </div>
  </div>
</div>
