<form [formGroup]="cpuFormGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label for="name">CPU name:</mat-label>
    <input matInput type="text" id="name" formControlName="name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label for="clockspeed">Clockspeed:</mat-label>
    <input matInput type="number" id="clockspeed" formControlName="clockSpeed">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label for="cores">Number of cores:</mat-label>
    <input matInput type="number" id="cores" formControlName="cores">
  </mat-form-field>
  <br>
  <button mat-raised-button type="submit" color="primary">Upload</button>
</form>
