<form [formGroup]="mbFormGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label for="name">Motherboard name:</mat-label>
    <input matInput type="text" id="name" formControlName="name">
  </mat-form-field>
  <div class="error"
       *ngIf="mbFormGroup.controls['name'].errors?.['required'] && mbFormGroup.controls['name'].touched">Field is
    reqiured!
  </div>
  <div class="error"
       *ngIf="mbFormGroup.controls['name'].errors?.['minlength'] && mbFormGroup.controls['name'].dirty">
    Name should be 10 characters long minimum
  </div>
  <br>
  <mat-form-field>
    <mat-label for="rams">Number of RAM slots:</mat-label>
    <input matInput type="number" id="rams" formControlName="ramNumbers">
  </mat-form-field>
  <div class="error"
       *ngIf="mbFormGroup.controls['ramNumbers'].errors?.['required'] && mbFormGroup.controls['ramNumbers'].touched">
    Field is
    reqiured!
  </div>
  <br>
  <button mat-raised-button type="submit" color="primary">Upload</button>
  <div class="success"
       *ngIf="success">{{ success }}
  </div>
</form>
